<div class="home-offers-section padding-40 ">
    <div class="container">
        <h2 class="section-title">Special Offers</h2>
         <div class="row g-4">
            <div class="col-12 col-md-4" *ngFor="let card of offers">
                <div class="card h-100 shadow rounded-4 overflow-hidden">
                    <a href="{{card.pageUrl}}" class="text-decoration-none" target="_blank">
                        <img [src]="card.image" class="card-img-top" alt="card image"
                        style="height: 160px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <a href="{{card.pageUrl}}" class="text-decoration-none" target="_blank"><h5 class="card-title fw-bold">{{ card.title }}</h5></a>
                        <p class="card-subtitle text-muted" *ngIf="card.subtitle">{{ card.subtitle }}</p>
                        <p class="card-text" *ngIf="card.description">{{ card.description }}</p>
                        <a *ngIf="card.buttonText" href="{{card.pageUrl}}" class="btn btn-primary mt-2" target="_blank">{{ card.buttonText
                            }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>