.modal {
  z-index: 1055 !important;
}

.modal-dialog {
  margin: 0.5rem;
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 0;
  }
  .modal-content {
    height: 100vh;
    border-radius: 0;
  }
}
