/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Responsive container padding */
.container-fluid {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}
p{
  font-size: 1rem;
  line-height: 1.5;
}
.modal.fade:not(.show) {
    opacity: 1 !important;
  }
  .btn-primary {
    background-color: #ff7716 !important;
    border-color: #ff7716 !important;
  }
  bg-primary {
    background-color: #ff7716 !important;
  }

  .padding-110{
    padding: 110px 0;
  }
  .padding-100{
    padding: 100px 0;
  }
  .padding-80{
    padding: 80px 0;
  }
  .padding-70{
    padding: 70px 0;
  }
  .padding-60{
    padding: 60px 0;
  }
  .padding-55{
    padding: 55px 0;
  }
  .padding-40{
    padding: 40px 0;
  }
  .padding-35{
    padding: 35px 0;
  }
  .padding-25{
    padding: 25px 0;
  }
  .padding-15{
    padding: 15px 0;
  }
  .padding-5{
    padding: 5px 0;
  }
  .padding-50{
    padding: 50px 0;
  }
  .padding-30{
    padding: 30px 0;
  }
  .padding-20{
    padding: 20px 0;
  }
  .padding-10{
    padding: 10px 0;
  }
  .margin-top-110{
    margin-top: 110px;
  }
  .margin-top-100{
    margin-top: 100px;
  }
  .margin-top-80{
    margin-top: 80px;
  }
  .margin-top-70{
    margin-top: 70px;
  }
  .margin-top-60{
    margin-top: 60px;
  }
  .margin-top-55{
    margin-top: 55px;
  }
  .margin-top-40{
    margin-top: 40px;
  }
  .margin-top-35{
    margin-top: 35px;
  }
  .margin-top-25{
    margin-top: 25px;
  }
  margin-top-15{
    margin-top: 15px;
  }
  margin-top-5{
    margin-top: 5px;
  }
  margin-top-50{
    margin-top: 50px;
  }
  margin-top-30{
    margin-top: 30px;
  }
  margin-top-20{
    margin-top: 20px;
  }
  margin-top-10{
    margin-top: 10px;
  }
  .margin-bottom-110{
    margin-bottom: 110px;
  }
  .margin-bottom-100{
    margin-bottom: 100px;
  }
  .margin-bottom-80{
    margin-bottom: 80px;
  }
  .margin-bottom-70{
    margin-bottom: 70px;
  }
  .margin-bottom-60{
    margin-bottom: 60px;
  }
  .margin-bottom-55{
    margin-bottom: 55px;
  }
  .margin-bottom-40{
    margin-bottom: 40px;
  }
  .margin-bottom-35{
    margin-bottom: 35px;
  }
  .margin-bottom-25{
    margin-bottom: 25px;
  }
  .margin-bottom-15{
    margin-bottom: 15px;
  }
  .margin-bottom-5{
    margin-bottom: 5px;
  }
  .margin-bottom-50{
    margin-bottom: 50px;
  }
  .margin-bottom-30{
    margin-bottom: 30px;
  }
  .margin-bottom-20{
    margin-bottom: 20px;
  }
  .margin-bottom-10{
    margin-bottom: 10px;
  }
  .margin-top-0{
    margin-top: 0px;
  }
  .margin-bottom-0{
    margin-bottom: 0px;
  }
  .margin-0{
    margin: 0px;
  }
  .padding-0{
    padding: 0px;
  }
  .margin-left-0{
    margin-left: 0px;
  }
  .margin-right-0{
    margin-right: 0px;
  }
  .margin-left-10{
    margin-left: 10px;
  }
  .margin-right-10{
    margin-right: 10px;
  }
  .margin-left-20{
    margin-left: 20px;
  }
  .margin-right-20{
    margin-right: 20px;
  }
  .margin-left-30{
    margin-left: 30px;
  }
  .margin-right-30{
    margin-right: 30px;
  }


